# files
.project
.classpath
.pmd
.ruleset
content.xml

# directories
.settings
.idea
.settings
target

# extensions
*.old
*.ods
*.*#

# all jars
*.jar

*.iml

# mvn release
release.properties
pom.xml.*

temp_files/*
